---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
ReflowComments: false
...
